.carousel-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.carousel {
    width: calc(100% + 30px);
}
.slick-list {
    padding: 20px 0;
}
.card {
    box-sizing: border-box;
    transition: transform 0.5s;
    margin: 0 15px;
}
.card:hover {
    transform: translateZ(0) scale(1.1);
}
.arrow {
    width: 60px;
    height: 60px;
    background: url(../img/arrow.svg), #fff;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: absolute;
    transition: transform 0.5s;
}
.arrow:focus {
    outline: none;
}
.arrow_left {
    transform: translate3d(-50%, 50%, 0);
    left: 0;
    top: calc(41% - 60px);
}
.arrow_left:hover {
    transform: translate3d(-50%, 50%, 0) scale(1.1);
    animation: moveArrow 1s infinite;
}
.arrow_right {
    transform: rotate(180deg) translate3d(-50%, 50%, 0);
    right: 0;
    top: 41%;
}
.arrow_right:hover {
    transform: rotate(180deg) translate3d(-50%, 50%, 0) scale(1.1);
    animation: moveArrow 1s infinite;
}
@keyframes moveArrow {
    0%,
    100% {
        background-position-x: 60%;
    }
    70% {
        background-position-x: 20%;
    }
}
@media (max-width: 1024px) {
    .arrow {
        display: none;
    }
    .slick-list {
        padding: 17px 0;
    }
    .slick-dots li {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin: 0 15px;
        background: #ebebeb;
    }
    .slick-dots li:nth-last-child(-n + 3) {
        display: none;
    }
    .slick-dots .slick-active {
        background: #ff4e2e;
    }
    .slick-dots button::before {
        display: none;
    }
}
@media (max-width: 768px) {
    .slick-dots li {
        width: 13px;
        height: 13px;
    }
}
@media (max-width: 320px) {
    .slick-dots li {
        width: 10px;
        height: 10px;
        margin: 0 2.7%;
    }
}
